
* {
    box-sizing: border-box;
  }
  

  body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
 
.header {
  padding: 0 !important;
  margin-left: 0 !important;
  position: fixed; 
  top: 0;        
  width: 100%;     
    background: linear-gradient(to right,#bbfaf6de,#59fbf0); 
    padding: 0px;
    margin-left: 0px;
    border:2px solid #3FD2C7 ;
    box-shadow: 2px 5px rgb(157, 248, 239);
    display: flex;
    justify-content: space-between;
    align-items:center;
} 


.head-container{
  padding-left: 15px;;
}
.navbar{
    display: flex;
    justify-content: space-around;
}
.navbar h3 a:hover{
  color: rgb(5, 6, 6);
  background-color: hsl(175, 29%, 91%);
  box-shadow: 2px 5px gray;
}

.navbar h3 a{
    text-decoration: none;
    color: #0f0f0f; 
    border: 2px solid rgba(33, 241, 223, 0.947);
    padding: 12px;
}


.navbar button {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 3px;
  padding: 5px;;
  color: #0f0f0f;
  background-color: #c5fcf8e0;
  font-size: 18px;
  font-weight: bold;
  width: 100px;
  height: 40px;
  box-shadow: 2px solid rgb(79, 78, 78);
  text-align: center;
}

.navbar button:hover {
  color: rgb(234, 242, 242);
  background-color: rgb(28, 243, 228);
  box-shadow: 2px 5px rgb(103, 101, 101);
}
.navbar h3{
  padding-top: 21px;
  margin:  20px;
  font-size: 18px ;
  font-weight: bold;
  padding-bottom: 25px;
} 
  
  
  .header2 {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }

  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  
  .rightcolumn {
    float: left;
    width: 25%;
    height:10%;
    padding-left: 20px;
  }
  

  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    img{
      width:100%;
    }
  }
  
  
  .card {
    .fakeimg2{
      img{
        width: 320px;
        height:200px;
        
     }
    }
     background-color: white;
     padding: 20px;
     margin-top: 20px;
  }
  
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    border: 2px solid #fcfafa;
    margin-top: -1px; 
    background-color: #c9c7c7;
    padding: 12px;
  }


.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
}

.footer-section h2 {
    color: #08a69c;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section a {
    color: #070707;
    
    text-decoration: none;
}

.footer-bottom {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #666;
    text-align: center;
}


@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-section {
        margin: 20px 0;
    }
}
